<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!-- HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>   <!-- _shim.html.erbというファイル 内容を評価して結果をビューに挿入 -->
  </head>
  <body>
    <!-- headerの内容がこの1行で収まる -->
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, msg| %>      <!-- flashのキーが存在するか判定 flashというオブジェクトを対象にハッシュのキーとバリューを繰り返し処理-->
        <div class="alert alert-<%= message_type %>"><%= msg %></div>  <!-- 処理の中ではCSSのクラスが動的に変化するよう記述 -->
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>